<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389202053049-7a82a804cug948prpfidqplqlv66unmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389202053049-7a82a804cug948prpfidqplqlv66unmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBz93ywa-9CL_9xBvrxQpfQLRxAp3gmSVY</string>
	<key>GCM_SENDER_ID</key>
	<string>389202053049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.beegains</string>
	<key>PROJECT_ID</key>
	<string>zartek-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>zartek-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389202053049:ios:68558d7feff1bfbde9d868</string>
</dict>
</plist>